name: CD
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types: [completed]

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.16.0"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      # Added Gatsby caching to speed up the production build
      - name: Cache Gatsby Folders
        uses: actions/cache@v4
        with:
          path: |
            .cache
            public
          key: ${{ runner.os }}-gatsby-build-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-gatsby-build-

      - name: Install
        run: npm ci --legacy-peer-deps

      - name: Build
        env:
          PREFIX_PATHS: 'true'
          GATSBY_CPU_COUNT: '2'
        # Removed 'npx gatsby clean' to utilize the cache
        run: npm run build

      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public