name: CI

on:
  push:
    branches: ["**"]

jobs:
  ci:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.16.0"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Cache Gatsby Folders
        uses: actions/cache@v4
        id: gatsby-cache
        with:
          path: |
            .cache
            public
          key: ${{ runner.os }}-gatsby-build-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-gatsby-build-

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Build with Gatsby
        env:
          PREFIX_PATHS: 'true'
          GATSBY_CPU_COUNT: '2' 
        run: npm run build